<mat-nav-list>
  <a mat-list-item routerLink="/login" (click)="close()" *ngIf="!loggedInUser">
    <mat-icon>login</mat-icon>
    <span>Bejelentkezés/Regisztráció</span>
  </a>
  <a mat-list-item routerLink="/post-ad" (click)="close()" *ngIf="loggedInUser">
    <mat-icon>post_add</mat-icon>
    <span>Hirdetés feladása</span>
  </a>
  <a mat-list-item routerLink="/favorites" (click)="close()" *ngIf="loggedInUser">
    <mat-icon>favorite</mat-icon>
    <span>Kedvencek</span>
  </a>
  <a mat-list-item routerLink="/calculator" (click)="close()">
    <mat-icon>calculate</mat-icon>
    <span>Pénzügyi kalkulátor</span>
  </a>
  <a mat-list-item [routerLink]="['/profile', loggedInUser.uid]" (click)="close()" *ngIf="loggedInUser">
    <mat-icon>account_box</mat-icon>
    <span>Profil</span>
  </a>
  <a mat-list-item [routerLink]="['/main']" (click)="logout()" *ngIf="loggedInUser">
    <mat-icon>logout</mat-icon>
    <span>Kijelentkezés</span>
  </a>
</mat-nav-list>