mat-sidenav {
  width: 250px;
  background-color: var(--color-secondary);
  box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);
  height: 100%; /* Teljes magasság */
  display: flex; /* Flexbox használata */
  flex-direction: column; /* Függőleges irány */
}

mat-nav-list {
  flex-grow: 1; /* Engedélyezi a növekedést a rendelkezésre álló hely szerint */
  display: flex; /* Flexbox használata */
  flex-direction: column; /* Függőleges irány */
  justify-content: space-around; /* Térközök egyenletes elosztása */
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

a.mat-list-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: var(--color-contrast);
  text-decoration: none;
}

a.mat-list-item:hover {
  background-color: var(--color-secondary);
  color: var(--color-accent);
}

mat-icon {
  margin-right: 10px;
}
