mat-dialog-title {
    color: #333;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}


mat-dialog-content {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    padding: 0 20px;
    width: 50vh
}


mat-form-field {
    width: 100%;
    margin-top: 20px;
}


mat-dialog-actions {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

mat-dialog-actions button {
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

mat-dialog-actions button:first-child {
    background-color: #f5f5f5;
    color: #333;
}

mat-dialog-actions button:last-child {
    background-color: var(--color-accent);
    color: white;
}

mat-dialog-actions button:hover {
    background-color: var(--color-dark-accent);
}

.custom-dialog-container {
    max-width: 500px;
    width: 80%;
    max-height: 400px;
    height: auto;
    overflow-y: auto;
  }
  