.profile-container {
    background-color: var(--color-primary);
    color: var(--color-contrast);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    min-height: calc(90vh - 60px);
  }
  h2 {
    color: var(--color-accent);
    margin-bottom: 20px;
    font-weight: bold;
  }
  
.profile-container p {
    margin-bottom: 10px;
  }

  .profile-container button {
    background-color: var(--color-accent);
    color: white;
    margin-top: 20px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .profile-container button:hover {
    background-color: var(--color-dark-accent);
  }
  
  .profile-container img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 3px solid var(--color-accent);
  }
  
  .profile-container form {
    margin-top: 20px;
    background-color: var(--color-secondary);
    padding: 20px;
    border-radius: 10px;
  }
  
  .profile-container input, .profile-container select {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--color-secondary);
    border-radius: 5px;
  }
  .profile-container input[type="password"], .profile-container select {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid var(--color-dark-accent);
    border-radius: 5px;
  }
  
  .tooltip {
    background-color: var(--color-primary   );
    color: var(--color-contrast);
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .tooltip.visible {
    opacity: 1;
  }
  
  .tooltip p {
    font-weight: bold;
    margin: 5px 0;
  }

  .profile-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .profile-table td {
    padding: 8px;
    border-bottom: 1px solid var(--color-secondary);
  }
  
  .profile-table td:first-child {
    font-weight: bold;
    width: 30%;
  }

  .logout-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .logout-container a {
    color: var(--color-accent);
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .logout-container a:hover {
    background-color: var(--color-accent);
    color: var(--color-primary);
    text-decoration: none;
  }

  .profile-page-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }

.profile-container {
  flex: 1 1 600px;
  max-width: 600px;
  margin: 10px;
}

.properties-container {
  flex: 2 1 60%;
  margin: 10px;
  height: calc(100vh - 124px);
}

@media (max-width: 768px) {
  .profile-page-container {
    flex-direction: column;
  }

  .properties-container {
    margin: 0 auto;
    max-width: 100%;
    flex: 1;
  }
  .profile-container{
    width: 80%;
    flex: 1;
    margin: 0 auto  }
}

.profileprofileProperty-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.profileProperty-item:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.profileProperty-image-container {
  flex: 0 0 150px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileProperty-image, .profileProperty-icon {
  max-width: 100%;
  max-height: 100%;
}

.profileProperty-content {
  flex: 1;
  padding: 0 10px;
}

.profileProperty-price {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.profileProperty-price-per-sqm {
  font-size: 14px;
  color: #888;
}

.profileProperty-address {
  font-size: 18px;
  margin-top: 5px;
}

.profileProperty-details {
  font-size: 16px;
  color: #333;
  margin-top: 5px;
}

.profileProperty-details strong {
  font-weight: normal;
  color: #888;
}

.profileProperty-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  margin: 10px 0;
  transition: box-shadow 0.3s;
  padding: 10px;
}

.profileProperty-item button {
  margin-right: 10px;
  min-height: 36px;
  align-items: center;
  display: flex;
  justify-content: center;
}

#mat-button{
  background: transparent;
  padding: 5px;
}

.profileProperty-item button:last-child {
  margin-right: 0;
}

.profileProperty-item button mat-icon {
  font-size: 30px;
  color: red;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-controls button {
  margin-right: 10px;
  margin-left: 10px;
}

.pagination-controls button {
  background-color: #fafafa;
  border: none; 
  border-radius: 0;
  padding: 0;
}

.pagination-controls button mat-icon {
  background-color: transparent;
  color: var(--color-dark-accent);
}


.profile-image-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.drop-zone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.drop-zone:hover, .drop-zone.dragover {
  background-color: #f0f0f0;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

/* Component CSS */
.profile-image-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.profile-image {
  display: block;
  max-width: 100%;
}

.edit-icon {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px;
  border-radius: 50%;
  font-size: 20px;
}

.profile-image-container:hover .edit-icon {
  display: block;
}

.show-update-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

