<div class="main_component">
    <div class="login-section">
        <!-- Bejelentkezési űrlap részei -->
        <h1>Bejelentkezés</h1>
        <mat-form-field>
            <mat-label for="email">Email:</mat-label>
            <input matInput type="text" [formControl]="email"/>
        </mat-form-field><br>
        <mat-form-field>
            <mat-label for="password">Password:</mat-label>
            <input matInput type="password" [formControl]="password"/>
        </mat-form-field><br>
        <button mat-raised-button color="primary" (click)="login()">Bejelentkezés</button>
        <a (click)="openForgotPasswordDialog()" class="forgot-password-link">Elfelejtett jelszó?</a>
        <div *ngIf="loginError" class="login-error">
            {{ loginError }}
        </div>
    </div>
    <div class="registration-section">
        <h2>Nincs még fiókod?</h2>
        <button mat-raised-button color="primary" [routerLink]="'/registration'">Regisztráció</button>
    </div>
</div>