    <mat-sidenav-container>
        <mat-sidenav #sidenav>
            <app-menu (selectedPage)="changePage($event)" [currentPage]="page" *ngIf="page" (onCloseSidenav)="onClose($event,sidenav)" [loggedInUser]="loggedInUser"></app-menu>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="content-wrapper">
                <mat-toolbar>
                    <button *ngIf="isHandset$ | async" (click)="sidenav.toggle()" mat-icon-button>
                        <mat-icon>menu</mat-icon>
                    </button>
                    <div fxFlex>
                        <span class="toolbar-title"><a routerLink="/main">Ingatlanradar</a></span>
                    </div>
                    <div class="toolbar-content" *ngIf="!(isHandset$ | async)">
                        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
                        <li *ngIf="!(loggedInUser)"><a routerLink="/login">Bejelentkezés/Regisztráció</a></li>
                        <li *ngIf="(loggedInUser)"><a routerLink="/post-ad">Hirdetés feladása</a></li>
                        <li *ngIf="(loggedInUser)"><a routerLink="/favorites">Kedvencek</a></li>
                        <li *ngIf="(loggedInUser)"><a routerLink="/calculator">Pénzügyi kalkulátor</a></li>
                        <li *ngIf="loggedInUser"><a [routerLink]="['/profile', loggedInUser.uid]"><mat-icon>account_box</mat-icon></a></li>
                    </ul>
                </div>
            </mat-toolbar>
            <router-outlet></router-outlet>
            <button *ngIf="loggedInUser" mat-icon-button class="chat-icon" (click)="toggleChat()">
                <mat-icon>chat</mat-icon>
            </button>
        
            <div class="chat-window" *ngIf="showChat && loggedInUser">
                <button mat-icon-button class="close-chat" (click)="toggleChat()">
                <mat-icon>close</mat-icon>
                </button>
            
                <div class="chat-partners" *ngIf="!selectedPartner">
                    <ul>
                      <li *ngFor="let partnerId of chatPartners" (click)="selectChatPartner(partnerId)">
                        {{ chatPartnerNames[partnerId] || 'Ismeretlen felhasználó' }}
                      </li>
                    </ul>
                  </div>

            
                <div class="selected-chat" *ngIf="selectedPartner">
                    <button (click)="backToChatPartners()"><mat-icon>arrow_back</mat-icon></button>
                    <div class="messages">
                        <div *ngFor="let message of filteredMessages" class="message" 
                        [ngClass]="{'sent': message.senderId === loggedInUser.uid, 'received': message.senderId !== loggedInUser.uid}">
                     <div class="message-header">
                       {{ userCache[message.senderId].name.firstname || 'Ismeretlen felhasználó' }}
                     </div>
                     <div class="message-content">{{message.message}}</div>
                   </div>
                </div>
                    <form class="send-message-form" (ngSubmit)="sendMessage()">
                        <input type="text" [(ngModel)]="newMessage" name="messageInput" placeholder="Írj üzenetet...">
                        <button type="submit">Küldés</button>
                    </form>
                </div>
            </div>
        </div>
        </mat-sidenav-content>
    </mat-sidenav-container>

