
<div class="property-details-container">
    <div *ngIf="selectedProperty" class="property-details">
      <img *ngIf="selectedProperty.photos && selectedProperty.photos.length > 0 && selectedProperty.photos[0] !== ''" [src]="selectedProperty.photos[0]" alt="Property Image" class="property-image">
      <mat-icon *ngIf="!selectedProperty.photos || selectedProperty.photos.length === 0 || selectedProperty.photos[0] === ''" class="centered-icon">image_not_supported</mat-icon>
      <p><strong>Cím:</strong> {{ selectedProperty.address }}</p>
      <p><strong>Ár:</strong> {{ selectedProperty.price }} Ft</p>
      <p><strong>Méret:</strong> {{ selectedProperty.size }} m²</p>
      <p><strong>Leírás:</strong> {{ selectedProperty.description }}</p>
      <p><strong>Státusz:</strong> {{ selectedProperty.status }}</p>
      <p><strong>Ingatlan típusa:</strong> {{ selectedProperty.features.type }}</p>
      <p><strong>Fürdőszobák száma:</strong> {{ selectedProperty.features.numberOfBathrooms }}</p>
      <p><strong>Hálószobák száma:</strong> {{ selectedProperty.features.numberOfRooms }}</p>
      <p><strong>Hirdető neve:</strong> {{ uploaderFullName }}</p>
    </div>
    <div>
      <span class="buttons"><button mat-raised-button color="primary" (click)="goBack()">Vissza</button></span>
    </div>
  </div>
