div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
}
.property-details-container {
    padding: 20px;
  }
  
.property-details {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 10px;
  }
  
.property-image {
    max-width: 100%;
    height: auto;
  }

  .centered-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 48px;
    width: 100px;
    height: 100px;
  }

.buttons{
    padding: 5px;
}

button{
    width: 120px;
}