<div class="property-details-page">
  <div class="advertiser-section">
<!--     <div class="advertiser-image">
      <img [src]="advertiserImage" alt="Advertiser's Image">
    </div> -->
    <div class="advertiser-info">
      <h3 *ngIf="(loggedInUser)"><span (click)="viewUserProfile(selectedProperty!.uploaderID)" class="uploader-name">{{ uploaderFullName }}</span></h3>
      <h3 *ngIf="!(loggedInUser)"><strong>Hirdető neve:</strong>{{ uploaderFullName }}</h3>
      <p>
      <p>06302566</p>
    </div>
  </div>
  <div class="card">
    <div *ngIf="selectedProperty" class="gallery">
      <img [src]="selectedProperty!.photos[currentImageIndex]" 
           alt="Main Property Image" 
           class="main-image"
           (click)="showImageOverlay(currentImageIndex)">
      <div class="thumbnails">
        <img *ngFor="let photo of selectedProperty?.photos; let i = index"
             [src]="photo"
             alt="Property Thumbnail"
             (click)="setCurrentImage(i)"
             [class.active]="currentImageIndex === i">
      </div>
    </div>
      <div class="image-overlay" *ngIf="isImageOverlayVisible" (click)="hideImageOverlay()">
        <div class="overlay-content">
          <img [src]="selectedProperty!.photos[currentImageIndex]" alt="Enlarged Property Image">
        </div>
      </div>
    <div class="details">
      <h2>{{ selectedProperty?.location }}</h2>
      <div class="features">
        <span class="feature new">{{ selectedProperty?.description }}</span>
      </div>
      <div class="info">
        <p class="price">{{ selectedProperty?.price| currency:'HUF' }}</p>
        <p class="area">Méret: {{ selectedProperty?.size }} m²</p>
        <p class="rooms">Szobák száma: {{ selectedProperty?.features?.numberOfRooms }} </p>
      </div>
      <div class="actions">
        <button mat-flat-button color="primary" (click)="showLocationOnMap(selectedProperty!.location)">Megtekintés térképen</button>
      </div>
    </div>
  </div>
  <div class="map-container" #mapContainer></div>
</div>