
<div class="property-details-container">
    <div *ngIf="selectedProperty" class="property-details">
      <div *ngIf="selectedProperty?.photos && selectedProperty.photos.length > 0" class="image-carousel">
        <img [src]="selectedProperty.photos[currentImageIndex]" alt="Property Image" class="property-image">
        
        <div class="arrow left-arrow" (click)="previousImage()" *ngIf="currentImageIndex > 0">
          <mat-icon>chevron_left</mat-icon>
        </div>
      
        <div class="arrow right-arrow" (click)="nextImage()" *ngIf="currentImageIndex < selectedProperty.photos.length - 1">
          <mat-icon>chevron_right</mat-icon>
        </div>
      </div>
      <mat-icon *ngIf="!selectedProperty?.photos || selectedProperty.photos.length === 0" class="centered-icon">image_not_supported</mat-icon>
      <p><strong>Cím:</strong> {{ selectedProperty.location }}</p>
      <p><strong>Ár:</strong> {{ selectedProperty.price }} Ft</p>
      <p><strong>Méret:</strong> {{ selectedProperty.size }} m²</p>
      <p><strong>Leírás:</strong> {{ selectedProperty.description }}</p>
      <p><strong>Státusz:</strong> {{ selectedProperty.status }}</p>
      <p><strong>Ingatlan típusa:</strong> {{ selectedProperty.features.type }}</p>
      <p><strong>Fürdőszobák száma:</strong> {{ selectedProperty.features.numberOfBathrooms }}</p>
      <p><strong>Hálószobák száma:</strong> {{ selectedProperty.features.numberOfRooms }}</p>
      <p *ngIf="(loggedInUser)"><strong>Hirdető neve:</strong> <span (click)="viewUserProfile(selectedProperty.uploaderID)" class="uploader-name">{{ uploaderFullName }}</span></p>
      <p *ngIf="!(loggedInUser)"><strong>Hirdető neve:</strong>{{ uploaderFullName }}</p>
      <p>
        <button *ngIf="loggedInUser?.uid && selectedProperty?.uploaderID !== loggedInUser?.uid" mat-raised-button (click)="openMessageDialog(selectedProperty.uploaderID, selectedProperty.propertyID)">
          Üzenet küldése
        </button>
    </p>
      <p>
        <button *ngIf="loggedInUser && loggedInUser?.uid && selectedProperty?.uploaderID !== loggedInUser?.uid" mat-icon-button (click)="toggleFavorite()">
          {{ isFavorite ? 'Eltávolítás a kedvencek közül' : 'Kedvenc' }}
        </button>
      </p>
      <div>
        <span class="buttons"><button mat-raised-button color="primary" (click)="goBack()">Vissza</button></span>
      </div>
    </div>

  </div>
