div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.property-details-container {
  padding: 5px;
}

.property-details p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.property-details {
  border: 1px solid #ddd;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.property-image {
  max-width: 40%;
  height: auto;
}

.centered-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 48px;
  width: 100px;
  height: 100px;
}

.buttons{
  padding: 5px;
}

button{
  max-width: 240px;
}

.image-carousel {
position: relative;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 5px;
}

.property-image {
max-width: auto;
height: 30%;
display: block;
margin: auto;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
border-radius: 10px;
transition: transform 0.3s ease-in-out;
}

.arrow {
position: absolute;
top: 50%;
transform: translateY(-50%);
font-size: 24px;
color: white;
cursor: pointer;
background-color: rgba(0, 0, 0, 0.5);
padding: 10px;
display: none;
align-items: center;
justify-content: center;
z-index: 10;
border-radius: 50%;
}

.left-arrow {
left: 30%;
}

.right-arrow {
right: 30%;
}

.image-carousel:hover .arrow {
display: flex;
height: auto;
transform: scale(1.05);
}
