<div class="favorites-container">
  
  <div *ngIf="favoritePropertyDetails.length > 0; else emptyFavorites">
  <h2>Kedvenc ingatlanjaid</h2>
  <div *ngFor="let property of favoritePropertyDetails" class="profileProperty-item" (click)="viewDetails(property.propertyID)">
    <div class="profileProperty-image-container">
      <img *ngIf="property.photos && property.photos[0] && property.photos[0] !== ''" 
           [src]="property.photos[0]" 
           alt="Property photo" 
           class="profileProperty-image">
      <mat-icon *ngIf="!property.photos || !property.photos[0] || property.photos[0] === ''">image_not_supported</mat-icon>
    </div>
    <div class="profileProperty-content">
      <p *ngIf="property.status==='Kiadó'" class="profileProperty-price">{{ calculateRentPrice(property.price) }}ezer Ft/hó</p>
      <p *ngIf="property.status==='Eladó'" class="profileProperty-price">{{ formatPrice(property.price) }}</p>
      <p class="profileProperty-address">{{ property.location }}</p>
      <p><strong>Alapterület:</strong> {{ property.size }} m²</p>
      <p><strong>Hálószobák száma:</strong> {{ property.features.numberOfRooms }}</p>
    </div>
    <div class="property-actions">
      <button class="remove-button" (click)="removeFromFavoritesHandler($event, property.propertyID)">
        Eltávolítás
      </button>
      
    </div>
  </div>
  </div>
  <ng-template #emptyFavorites>
    <div class="empty-favorites-message">
      <mat-icon>favorite_border</mat-icon>
      <h3>Nincsenek kedvencek</h3>
      <p>Úgy tűnik, még nincsenek kedvenc ingatlanjai. Fedezzen fel új ingatlanokat most!</p>
      <button (click)="browseProperties()">Böngéssz ingatlanokat</button>
    </div>
  </ng-template>
</div>
