<div class="filters-container">
  <div class="radio-buttons-container">
    <mat-radio-group [(ngModel)]="propertyStatus" (ngModelChange)="applyFilter()">
      <mat-radio-button value="Kiadó" color="warn">Kiadó</mat-radio-button>
      <mat-radio-button value="Eladó" color="warn">Eladó</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="price-range-container">
    <div class="price-range-input">
      <input type="number" id="minPrice" [(ngModel)]="minPrice" (ngModelChange)="applyFilter()" placeholder="Minimum ár">
    </div>

    <div class="price-range-hyphen">-</div>

    <div class="price-range-input">
      <input type="number" id="maxPrice" [(ngModel)]="maxPrice" (ngModelChange)="applyFilter()" placeholder="Maximum ár">
    </div>
  </div>
  <div class="search-container">
    <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="onSearchTermChange()" [matAutocomplete]="auto"
      placeholder="Keresés hely alapján..." class="search-input">

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let city of filteredCities" [value]="city">
        {{ city }}
      </mat-option>
    </mat-autocomplete>
  </div>
  <div class="search-container">
    <input type="text" [(ngModel)]="userNameSearchTerm" (ngModelChange)="onUserNameSearchTermChange()"
      [matAutocomplete]="autoUser" placeholder="Keresés felhasználó alapján..." class="search-input">
    <mat-autocomplete #autoUser="matAutocomplete" (optionSelected)="onUserSelected($event)">
      <mat-option *ngFor="let userName of filteredUserNames" [value]="userName">
        {{ userName }}
      </mat-option>
    </mat-autocomplete>
  </div>
  
</div>
<div class="Add-filters-button"><button mat-button (click)="openAdditionalFilters()">További Szűrők</button></div>
<ng-template #additionalFiltersTemplate>
  <div class="dialog-header">További Szűrők</div>
  <div class="dialog-divider"></div>
  <div class="additional-filters">
    <div>
      <label>
        <input type="radio" name="locationFilter" value="Budapest" [(ngModel)]="locationFilter">
        Budapest
      </label>
    </div>
    <div>
      <label>
        <input type="radio" name="locationFilter" value="Vidék" [(ngModel)]="locationFilter">
        Vidék
      </label>
    </div>
    <div *ngFor="let type of propertyTypes">
      <label>
        <input type="checkbox" [(ngModel)]="selectedPropertyTypes[type]">{{ type }}
      </label>
    </div>
    <div>
      <label>Méretek:</label>
      <input type="number" [(ngModel)]="minSize" placeholder="Min méret">
      <input type="number" [(ngModel)]="maxSize" placeholder="Max méret">
    </div>
    <div>
      <label>Szobák száma:</label>
      <input type="number" [(ngModel)]="numberOfRooms">
    </div>
  </div>
  <div class="align-mid-button"><button (click)="applyAndClose()">OK</button></div>
  
</ng-template>
<div class="pagination">
  <div class="pagination-button" *ngIf="currentPage > 1; else prevPlaceholder">
    <button (click)="previousPage()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  <ng-template #prevPlaceholder>
    <div class="pagination-placeholder"></div>
  </ng-template>

  <span *ngIf="totalPages!==0">Oldal {{ currentPage }} / {{ totalPages }}</span>

  <div class="pagination-button" *ngIf="currentPage < totalPages; else nextPlaceholder">
    <button (click)="nextPage()">
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
  <ng-template #nextPlaceholder>
    <div class="pagination-placeholder"></div>
  </ng-template>
</div>
<div class="property-container">
  <div *ngIf="filteredProperties.length === 0 && selectedUserId" class="no-properties-message">
    Ennek a felhasználónak még nincsenek hirdetett ingatlanjai.
  </div>
  <!-- Bal oldali oszlop -->
  <div class="property-column">
    <div *ngFor="let property of leftColumnProperties;">
      <div class="property-item"
        *ngIf="loggedInUser?.uid && property?.uploaderID !== loggedInUser?.uid || !loggedInUser"
        (click)="viewPropertyDetails(property.propertyID)">
        <div class="property-image-container">
          <img *ngIf="property.photos && property.photos.length > 0 && property.photos[0] !== ''"
            [src]="property.photos[0]" alt="Property Image" class="property-image">
          <mat-icon *ngIf="!property.photos || property.photos.length === 0 || property.photos[0] === ''"
            class="property-icon">image_not_supported</mat-icon>
        </div>
        <div class="property-content">
          <p *ngIf="property.status==='Kiadó'" class="property-price">{{ calculateRentPrice(property.price) }}ezer Ft/hó
            <span class="property-price-per-sqm"></span>
          </p>
          <p *ngIf="property.status==='Eladó'" class="property-price">{{ formatPrice(property.price) }}
            <span class="property-price-per-sqm">({{ calculatePricePerSqm(property.price, property.size) }} Ft /
              m²)</span>
          </p>
          <p class="property-address clamped-text">{{ property.location }}</p>
          <div class="property-details">
            <p><strong>Alapterület:</strong> {{ property.size }} m²</p>
            <p><strong>Hálószobák száma:</strong> {{ property.features.numberOfRooms }}</p>
          </div>
        </div>
        <button *ngIf="loggedInUser?.uid && property?.uploaderID !== loggedInUser?.uid" mat-icon-button
          class="favorite-button" (click)=" addToFavorites($event, property.propertyID)">
          <mat-icon>{{ isFavorite(property.propertyID) ? 'star' : 'star_border' }}</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <!-- Jobb oldali oszlop -->
  <div class="property-column">
    <div *ngFor="let property of rightColumnProperties;">
      <div class="property-item"
        *ngIf="loggedInUser?.uid && property?.uploaderID !== loggedInUser?.uid || !loggedInUser"
        (click)="viewPropertyDetails(property.propertyID)">
        <div class="property-image-container">
          <img *ngIf="property.photos && property.photos.length > 0 && property.photos[0] !== ''"
            [src]="property.photos[0]" alt="Property Image" class="property-image">
          <mat-icon *ngIf="!property.photos || property.photos.length === 0 || property.photos[0] === ''"
            class="property-icon">image_not_supported</mat-icon>
        </div>
        <div class="property-content">
          <p *ngIf="property.status==='Kiadó'" class="property-price">{{ calculateRentPrice(property.price) }}ezer Ft/hó
            <span class="property-price-per-sqm"></span>
          </p>
          <p *ngIf="property.status==='Eladó'" class="property-price">{{ formatPrice(property.price) }}
            <span class="property-price-per-sqm">({{ calculatePricePerSqm(property.price, property.size) }} Ft /
              m²)</span>
          </p>
          <p class="property-address clamped-text">{{ property.location }}</p>
          <div class="property-details">
            <p><strong>Alapterület:</strong> {{ property.size }} m²</p>
            <p><strong>Hálószobák száma:</strong> {{ property.features.numberOfRooms }}</p>
          </div>
        </div>
        <button *ngIf="loggedInUser?.uid && property?.uploaderID !== loggedInUser?.uid" mat-icon-button
          class="favorite-button" (click)=" addToFavorites($event, property.propertyID)">
          <mat-icon>{{ isFavorite(property.propertyID) ? 'star' : 'star_border' }}</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>