.property-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.property-item:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.property-image-container {
  flex: 0 0 150px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.property-image, .property-icon {
  max-width: 100%;
  max-height: 100%;
}

.property-content {
  flex: 1;
  padding: 0 10px;
}

.property-price {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.property-price-per-sqm {
  font-size: 14px;
  color: #888;
}

.property-address {
  font-size: 18px;
  margin-top: 5px;
}

.property-details {
  font-size: 16px;
  color: #333;
  margin-top: 5px;
}

.property-details strong {
  font-weight: normal;
  color: #888;
}

.property-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  margin: 10px 0;
  transition: box-shadow 0.3s;
  padding: 10px;
}

.favorite-button {
  border: none;
  background: none;
  cursor: pointer;
}

.favorite-button mat-icon {
  color: #f0c040;
}