.property-container {
  max-width: 60%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: calc(70vh - 60px);
}

.property-column {
  flex: 1;
  max-width: calc(50% - 20px);
  margin: 10px;
  padding: 0 10px;
}


.property-item:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.property-image-container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  overflow: hidden;
}

.property-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.property-image, .property-icon {
  width: 100%;
  height: auto;
  display: block;
}

.property-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.property-content {
  width: 100%;
  padding: 15px;
}
.property-price {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.property-price-per-sqm {
  font-size: 14px;
  color: #888;
  max-width: 100%;
  overflow: hidden;
  text-overflow:clip;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.property-address {
  font-size: 18px;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.clamped-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.property-details {
  font-size: 16px;
  color: #333;
  margin-top: 5px;
}

.property-details strong {
  font-weight: normal;
  color: #888;
}

.property-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  flex-direction: column;
  margin: 10px 0;
  transition: box-shadow 0.3s;
  padding: 10px;
}

.favorite-button {
  border: none;
  background: none;
  background-color: transparent;
  cursor: pointer;
}

.favorite-button:hover,
.favorite-button:focus {
  background-color: transparent;
}

.favorite-button mat-icon {
  color: #f0c040;
}

.filters-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center;
  height: 10vh;
}

.radio-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  margin-right: 10px;
  width: 90px;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.search-container input {
  padding: 10px;
  margin-right: 5px;
  flex-grow: 1; 
  flex-shrink: 1;
  flex-basis: calc(100% - 65px);
  height: 70px;
  border: 1px solid #ccc;
  box-sizing: border-box; 
}

.search-container button {
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  flex: none;
}

.mat-autocomplete-panel .mat-option {
  padding: 10px;
  margin-bottom: 5px;
  border: 1px black;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  margin-top: 10px;
}

.pagination-button,
.pagination-placeholder {
  flex: 1;
  display: flex;
  justify-content: center;
}

.pagination-button button {
  min-width: 64px;
}


.pagination button {
  background-color: #fafafa;
  border: none; 
  border-radius: 0;
  padding: 0;
}

.pagination button mat-icon {
  background-color: transparent;
  color: var(--color-dark-accent);
}


@media (max-width: 900px) {
  .property-container {
    max-width: 80%;
    height: auto;
    padding: 10px;
  }

  .property-column {
    max-width: 100%;
    flex-basis: 100%;
    margin: 10px 0;
  }

  .property-image-container {
    height: auto;
  }

  .property-item {
    margin: 0;
    width: auto;
  }
}
@media (max-width: 600px) {
  .pagination {
    margin-top: 60px; 
  }
}
@media (max-width: 600px) {
  .pagination {
    margin-top: 140px; 
  }
}

.no-properties-message {
  text-align: right;
  color: #666;
  font-style: italic;
}