<div class="main_component">
  <div class="div-flex">
    <form [formGroup]="signUpForm" (ngSubmit)="onSignup()">
      <div class="form-field">
        <label for="email">Email cím</label>
        <input type="email" id="email" formControlName="email">
      </div>

      <div class="form-field">
        <label for="password">Jelszó</label>
        <input type="password" id="password" formControlName="password">
      </div>

      <div class="form-field">
        <label for="rePassword">Jelszó újra</label>
        <input type="password" id="rePassword" formControlName="rePassword">
      </div>

      <div class="form-field">
        <label for="phoneNumber">Telefonszám</label>
        <input type="text" id="phoneNumber" formControlName="phoneNumber">
      </div>

      <div formGroupName="name" class="name-fields">
        <div class="form-field">
          <label for="firstname">Keresztnév</label>
          <input type="text" id="firstname" formControlName="firstname">
        </div>
        <div class="form-field">
          <label for="lastname">Vezetéknév</label>
          <input type="text" id="lastname" formControlName="lastname">
        </div>
      </div>

      <div class="buttons">
        <button type="submit">Regisztráció</button>
        <button type="button" (click)="goBack()">Vissza</button>
      </div>
    </form>
  </div>
</div>
